---
---

<!-- No interactivity in the frontmatter; we need a script tag! 
https://docs.astro.build/en/guides/client-side-scripts/
-->

<script src="../scripts/menu.js">
  // Processed! Bundled! TypeScript-supported!
  // Importing local scripts and Node modules works.
</script>

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>